.post-title {
	margin-top: 0px; font-size: 1.6em;
}
.post img {
	float:left; margin-right: 10px; width: 100px; height: 100px;
}
#imageFile {
	float: left; width: auto;
}
.spinner {
  margin: 0px auto; height: 28px; width: 28px; animation: rotate 0.8s infinite linear; border: 8px solid #38BFC4; border-right-color: transparent; border-radius: 50%;
}
@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}